.image-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.image-body {
    background-color: grey;
    border: 5px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}